@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
}
header {
    background-color: rgb(187, 136, 255);
}
h1 {
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
    text-align: center;
}
ul li {
    list-style: none;
    text-transform: capitalize;
}
.team-list li {
    border-bottom: .5px solid grey;
}
.fa-trash-alt {
    margin-left: .7em;
    color: #df4759;
    cursor: pointer;
}
p {
    font-family: 'Poppins', sans-serif;
}
small {
    display: block;
}